.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all files in the data/ and figures/ directory
data/*
figures/*

# But do not ignore the READMEs in these directories (or any instruction files)
!data/README.md
!figures/README.md
